/* nav */
.navbar.bg-black {
  border-bottom: 3px solid #26bb26; }
  .navbar.bg-black .navbar-brand {
    padding: 0%; }
  .navbar.bg-black .acordion-link.d-none.d-lg-flex {
    color: #26bb26;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    animation-duration: 2s; }
  .navbar.bg-black .acordion-link.d-none.d-lg-flex:hover {
    background-color: #26bb26;
    color: black;
    transition: 0.7s; }
  .navbar.bg-black .d-inline-block.align-text-top {
    height: 60px;
    width: 180px;
    animation-duration: 2s; }
  .navbar.bg-black .dropdown-item {
    color: #26bb26;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%; }
  .navbar.bg-black .dropdown-item:hover {
    background-color: #26bb26;
    color: black;
    transition: 0.7s; }
  .navbar.bg-black .img-menu.animate__animated.animate__flash {
    animation-duration: 2s; }

/*contenido*/
.row {
  background-image: url(/assets/fondo-inicio.jpg);
  background-size: cover; }

.card.bg-transparent.text-center {
  border: 1px solid #26bb26;
  height: 200px;
  width: 300px;
  margin: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 8px rgba(16, 230, 22, 0.75);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(16, 230, 22, 0.75);
  -moz-box-shadow: 0px 0px 20px 8px rgba(16, 230, 22, 0.75); }
  .card.bg-transparent.text-center .card-body {
    border-top: 1px solid #26bb26; }
  .card.bg-transparent.text-center .card-title {
    font-size: medium;
    color: #26bb26;
    margin-top: -15px; }
  .card.bg-transparent.text-center .card-text {
    font-size: small;
    color: #26bb26; }
  .card.bg-transparent.text-center .btn.btn-primary {
    background: transparent;
    color: #26bb26;
    border: 1px solid #26bb26;
    font-size: small;
    width: 100%; }
  .card.bg-transparent.text-center .btn.btn-primary:hover {
    background-color: #26bb26;
    color: black;
    transition: 0.7s; }

/*scss de html video*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.videos {
  border: 2px solid #f8291a; }

/* contenido de html videos*/
.card.bg-transparent.text-center.videos {
  border: 1px solid #d81818;
  height: 200px;
  width: 300px;
  margin: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 8px rgba(247, 41, 5, 0.75);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(240, 22, 22, 0.75);
  -moz-box-shadow: 0px 0px 20px 8px rgba(231, 17, 17, 0.75); }
  .card.bg-transparent.text-center.videos .card-body.videos {
    border-top: 1px solid #ee1414; }
  .card.bg-transparent.text-center.videos .card-title.videos {
    font-size: medium;
    color: #e22626;
    margin-top: -15px; }
  .card.bg-transparent.text-center.videos .card-text.videos {
    font-size: small;
    color: #d62020; }
  .card.bg-transparent.text-center.videos .btn.btn-primary.videos {
    background: transparent;
    color: #d32222;
    border: 1px solid #df2721;
    font-size: small;
    width: 100%; }
  .card.bg-transparent.text-center.videos .btn.btn-primary.videos:hover {
    background-color: #da2020;
    color: white;
    transition: 0.7s; }

.row.videos {
  background-image: url(/assets/videos/fondo-videos.jpg);
  background-size: cover; }

/* scss de html madres*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.madres {
  border: 1px solid yellow; }

.row.madres {
  background-image: url(/assets/madres/fondo-madres.jpg); }

.card.bg-transparent.text-center.madres {
  border: 1px solid yellow;
  height: 200px;
  width: 300px;
  margin: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 8px yellow;
  -webkit-box-shadow: 0px 0px 20px 8px yellow;
  -moz-box-shadow: 0px 0px 20px 8px yellow; }
  .card.bg-transparent.text-center.madres .card-body.madres {
    border-top: 1px solid yellow; }
  .card.bg-transparent.text-center.madres .card-title.madres {
    font-size: medium;
    color: yellow;
    margin-top: -15px; }
  .card.bg-transparent.text-center.madres .card-text.madres {
    font-size: small;
    color: yellow; }
  .card.bg-transparent.text-center.madres .btn.btn-primary.madres {
    background: transparent;
    color: yellow;
    border: 1px solid yellow;
    font-size: small;
    width: 100%; }
  .card.bg-transparent.text-center.madres .btn.btn-primary.madres:hover {
    background-color: yellow;
    color: black;
    transition: 0.7s; }
  .card.bg-transparent.text-center.madres .card-img-top.madres {
    height: 200px;
    width: 190px; }

/* scss de html rams*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.rams {
  border: 1px solid cyan; }

.row.rams {
  background-image: url(/assets/rams/fondo-ram.jpg); }

.card.bg-transparent.text-center.rams {
  border: 1px solid cyan;
  height: 200px;
  width: 300px;
  margin: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 8px cyan;
  -webkit-box-shadow: 0px 0px 20px 8px cyan;
  -moz-box-shadow: 0px 0px 20px 8px cyan; }
  .card.bg-transparent.text-center.rams .card-body.rams {
    border-top: 1px solid cyan; }
  .card.bg-transparent.text-center.rams .card-title.rams {
    font-size: medium;
    color: cyan;
    margin-top: -15px; }
  .card.bg-transparent.text-center.rams .card-text.rams {
    font-size: small;
    color: cyan; }
  .card.bg-transparent.text-center.rams .btn.btn-primary.rams {
    background: transparent;
    color: cyan;
    border: 1px solid cyan;
    font-size: small;
    width: 100%; }
  .card.bg-transparent.text-center.rams .btn.btn-primary.rams:hover {
    background-color: cyan;
    color: black;
    transition: 0.7s; }
  .card.bg-transparent.text-center.rams .card-img-top.rams {
    height: 150px;
    width: 200px; }
