@mixin links{
    color: rgb(38, 187, 38);
    font-size: large;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
}
/* nav */ 
.navbar.bg-black{
    border-bottom: 3px solid rgb(38, 187, 38);
    .navbar-brand{
       padding: 0%;
    }
    .acordion-link.d-none.d-lg-flex{
        @include links;
        animation-duration: 2s;
    }.acordion-link.d-none.d-lg-flex:hover{
        background-color: rgb(38, 187, 38);
        color: black;
        transition: 0.7s;
    }
    .d-inline-block.align-text-top{
    height: 60px;
    width: 180px;
    animation-duration: 2s;
}
.dropdown-item{
    @include links;
}.dropdown-item:hover{
    background-color: rgb(38, 187, 38);
    color: black;
    transition: 0.7s;
}
.img-menu.animate__animated.animate__flash{
    animation-duration: 2s;
}
}
/*contenido*/
.row{
    background-image: url(/assets/fondo-inicio.jpg);
    background-size: cover;
}
.card.bg-transparent.text-center{
    border: 1px solid rgb(38, 187, 38);
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px rgba(16,230,22,0.75);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(16,230,22,0.75);
    -moz-box-shadow: 0px 0px 20px 8px rgba(16,230,22,0.75);
    .card-body{
        border-top: 1px solid rgb(38, 187, 38);
    }
    .card-title{
        font-size: medium;
        color: rgb(38, 187, 38);
        margin-top: -15px;
    }
    .card-text{
        font-size: small;
        color: rgb(38, 187, 38);
    }
    .btn.btn-primary{
        background: transparent;
        color:rgb(38, 187, 38);
        border: 1px solid rgb(38, 187, 38);
        font-size: small;
        width: 100%;
    }.btn.btn-primary:hover{
        background-color: rgb(38, 187, 38);
        color: black;
        transition: 0.7s;
    }
}
/*scss de html video*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.videos{
    border: 2px solid rgb(248, 41, 26);
}
/* contenido de html videos*/
.card.bg-transparent.text-center.videos{
    border: 1px solid rgb(216, 24, 24);
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px rgba(247, 41, 5, 0.75);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(240, 22, 22, 0.75);
    -moz-box-shadow: 0px 0px 20px 8px rgba(231, 17, 17, 0.75);
    .card-body.videos{
    border-top: 1px solid rgb(238, 20, 20);
}
.card-title.videos{
    font-size: medium;
    color: rgb(226, 38, 38);
    margin-top: -15px;
}
.card-text.videos{
    font-size: small;
    color: rgb(214, 32, 32);
}
.btn.btn-primary.videos{
    background: transparent;
    color:rgb(211, 34, 34);
    border: 1px solid rgb(223, 39, 33);
    font-size: small;
    width: 100%;
}.btn.btn-primary.videos:hover{
    background-color: rgb(218, 32, 32);
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
}
.row.videos{
    background-image: url(/assets/videos/fondo-videos.jpg);
    background-size: cover;
}

/* scss de html madres*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.madres{
    border: 1px solid yellow;
}
.row.madres{
    background-image: url(/assets/madres/fondo-madres.jpg);
}
.card.bg-transparent.text-center.madres{
    border: 1px solid yellow;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px yellow;
    -webkit-box-shadow: 0px 0px 20px 8px yellow;
    -moz-box-shadow: 0px 0px 20px 8px yellow;
    .card-body.madres{
    border-top: 1px solid yellow;
}
.card-title.madres{
    font-size: medium;
    color: yellow;
    margin-top: -15px;
}
.card-text.madres{
    font-size: small;
    color: yellow;
}
.btn.btn-primary.madres{
    background: transparent;
    color:yellow;
    border: 1px solid yellow;
    font-size: small;
    width: 100%;
}.btn.btn-primary.madres:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
}
.card-img-top.madres{
    height: 200px;
    width: 190px;
}
}

/* scss de html rams*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.rams{
    border: 1px solid cyan;
}
.row.rams{
    background-image: url(/assets/rams/fondo-ram.jpg);
}
.card.bg-transparent.text-center.rams{
    border: 1px solid cyan;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px cyan;
    -webkit-box-shadow: 0px 0px 20px 8px cyan;
    -moz-box-shadow: 0px 0px 20px 8px cyan;
    .card-body.rams{
    border-top: 1px solid cyan;
}
.card-title.rams{
    font-size: medium;
    color: cyan;
    margin-top: -15px;
}
.card-text.rams{
    font-size: small;
    color: cyan;
}
.btn.btn-primary.rams{
    background: transparent;
    color: cyan;
    border: 1px solid cyan;
    font-size: small;
    width: 100%;
}.btn.btn-primary.rams:hover{
    background-color: cyan;
    color: black;
    transition: 0.7s;
}
.card-img-top.rams{
    height: 150px;
    width: 200px;
}
}