@mixin links{
    color: rgb(38, 187, 38);
    font-size: large;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
}
$color-index: rgb(38, 187, 38);
$color-videos:rgb(216, 24, 24);
/* nav */ 
.navbar.bg-black{
    border-bottom: 3px solid rgb(38, 187, 38);
    .navbar-brand{
       padding: 0%;
    }
    .acordion-link.d-none.d-lg-flex{
        @include links;
        animation-duration: 2s;
    }.acordion-link.d-none.d-lg-flex:hover{
        background-color: rgb(38, 187, 38);
        color: black;
        transition: 0.7s;
    }
    .d-inline-block.align-text-top{
    height: 60px;
    width: 180px;
    animation-duration: 2s;
}
.dropdown-item{
    @include links;
}.dropdown-item:hover{
    background-color: rgb(38, 187, 38);
    color: black;
    transition: 0.7s;
}
.img-menu.animate__animated.animate__flash{
    animation-duration: 2s;
}
}
/*contenido*/
.row{
    background-image: url(/assets/fondo-inicio.jpg);
    background-size: cover;
}
.card.bg-transparent.text-center{
    border: $color-index;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px $color-index;
    -webkit-box-shadow: 0px 0px 20px 8px $color-index;
    -moz-box-shadow: 0px 0px 20px 8px $color-index;
    .card-body{
        border-top: 1px solid $color-index;
    }
    .card-title{
        font-size: medium;
        color: $color-index;
        margin-top: -15px;
    }
    .card-text{
        font-size: small;
        color: $color-index;
    }
    .btn.btn-primary{
        background: transparent;
        color: $color-index;
        border: 1px solid $color-index;
        font-size: small;
        width: 100%;
    }.btn.btn-primary:hover{
        background-color: $color-index;
        color: black;
        transition: 0.7s;
    }
}
/*scss de html video*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.videos{
    border: 2px solid rgb(248, 41, 26);
}
/* contenido de html videos*/
.card.bg-transparent.text-center.videos{
    border: 1px solid $color-videos;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px $color-videos;
    -webkit-box-shadow: 0px 0px 20px 8px $color-videos;
    -moz-box-shadow: 0px 0px 20px 8px $color-videos;
    .card-body.videos{
    border-top: 1px solid $color-videos;
}
.card-title.videos{
    font-size: medium;
    color: $color-videos;
    margin-top: -15px;
}
.card-text.videos{
    font-size: small;
    color: $color-videos;
}
.btn.btn-primary.videos{
    background: transparent;
    color: $color-videos;
    border: 1px solid $color-videos;
    font-size: small;
    width: 100%;
}.btn.btn-primary.videos:hover{
    background-color: $color-videos;
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
}
.row.videos{
    background-image: url(/assets/videos/fondo-videos.jpg);
    background-size: cover;
}

/* scss de html madres*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.madres{
    border: 1px solid yellow;
}
.row.madres{
    background-image: url(/assets/madres/fondo-madres.jpg);
}
.card.bg-transparent.text-center.madres{
    border: 1px solid yellow;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px yellow;
    -webkit-box-shadow: 0px 0px 20px 8px yellow;
    -moz-box-shadow: 0px 0px 20px 8px yellow;
    .card-body.madres{
    border-top: 1px solid yellow;
}
.card-title.madres{
    font-size: medium;
    color: yellow;
    margin-top: -15px;
}
.card-text.madres{
    font-size: small;
    color: yellow;
}
.btn.btn-primary.madres{
    background: transparent;
    color:yellow;
    border: 1px solid yellow;
    font-size: small;
    width: 100%;
}.btn.btn-primary.madres:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
}
.card-img-top.madres{
    height: 200px;
    width: 190px;
}
}

/* scss de html rams*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.rams{
    border: 1px solid cyan;
}
.row.rams{
    background-image: url(/assets/rams/fondo-ram.jpg);
}
.card.bg-transparent.text-center.rams{
    border: 1px solid cyan;
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px cyan;
    -webkit-box-shadow: 0px 0px 20px 8px cyan;
    -moz-box-shadow: 0px 0px 20px 8px cyan;
    .card-body.rams{
    border-top: 1px solid cyan;
}
.card-title.rams{
    font-size: medium;
    color: cyan;
    margin-top: -15px;
}
.card-text.rams{
    font-size: small;
    color: cyan;
}
.btn.btn-primary.rams{
    background: transparent;
    color: cyan;
    border: 1px solid cyan;
    font-size: small;
    width: 100%;
}.btn.btn-primary.rams:hover{
    background-color: cyan;
    color: black;
    transition: 0.7s;
}
.card-img-top.rams{
    height: 150px;
    width: 200px;
}
}
/* scss de html perifericos*/
.acordion-link.d-none.d-lg-flex.animate__animated.animate__pulse.perifericos{
    border: 1px solid rgb(140, 0, 255);
}
.row.perifericos{
    background-image: url(/assets/perifericos/fondo-peri.jpg);
}
.card.bg-transparent.text-center.perifericos{
    border: 1px solid rgb(140, 0, 255);
    height: 200px;
    width: 300px;
    margin: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 8px rgb(140, 0, 255);
    -webkit-box-shadow: 0px 0px 20px 8px rgb(140, 0, 255);
    -moz-box-shadow: 0px 0px 20px 8px rgb(140, 0, 255);
    .card-body.perifericos{
    border-top: 1px solid rgb(140, 0, 255);
}
.card-title.perifericos{
    font-size: medium;
    color: white;
    margin-top: -15px;
}
.card-text.perifericos{
    font-size: small;
    color: white;
}
.btn.btn-primary.perifericos{
    background: transparent;
    color: white;
    border: 1px solid rgb(140, 0, 255);
    font-size: small;
    width: 100%;
}.btn.btn-primary.perifericos:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(140, 0, 255);
    transition: 0.7s;
}
.card-img-top.perifericos{
    height: 150px;
    width: 200px;
}
}